<%- contentFor('HeaderCss') %>
<!-- perticular page css -->
<!-- X-editable css -->
<link type="text/css" href="public/plugins/x-editable/css/bootstrap-editable.css" rel="stylesheet">

<link href="public/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
<link href="public/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />


<%- contentFor('body') %>
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Edit Blogs (<%= data[0].blogs_title %>)</h4>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-12">
                <div class="card m-b-20">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">Edit Blogs</h4>
                        <br>
                        <form class="" id="edit-blogs" data-id="<%= data[0].blogs_id %>" enctype="multipart/form-data">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 25%;">Attributes</th>
                                        <th>Edit Values</th>
                                    </tr>
                                </thead>
                                    <tr>
                                        <!--blogs user-->
                                        <td>Blog user</td>
                                        <td>
                                            <div class="form-group">
                                                <select name="user_id" id="user_id" class="form-control select2" required>
                                                    <% data2.forEach((user)=> {
                                                        if (data3[0].username===user.username){%>
                                                            <option selected value=<%= user.user_id %> </option> <%= user.username %> </option>
                                                        <% } else { %>
                                                            <option value=<%= user.user_id %> </option> <%= user.username %> </option>
                                                        <% } %>
                                                    <% }) %>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                        <!--Blog Title-->
                                    <tr>
                                        <td>Blog Title</td>
                                        <td>
                                            <div class="form-group">
                                                <input type="text" name="blogs_title" id="blogs_title" class="form-control" required placeholder="Blog Title" value="<%= data[0].blogs_title %>"/>
                                            </div>
                                        </td>
                                    </tr>
                                        <!--Blog Description-->
                                    <tr>
                                        <td>Blog Description</td>
                                        <td>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-12" style="height:450px;">
                                                        <div class="card m-b-20" >
                                                            <textarea id="elm1" name="blogs_description" required><%= data[0].blogs_description %></textarea>
                                                        </div>
                                                    </div> <!-- end col -->
                                                </div> <!-- end row -->
                                            </div>
                                        </td>
                                    </tr>
                                        <!--Post Date-->
                                    <tr>
                                        <td>Post Date</td>
                                        <td>
                                            <div class="form-group">
                                                <div>
                                                    <div class="input-group">
                                                        <input type="text" name ="blogs_post_date"
                                                               class="form-control datepicker-autoclose"
                                                               value="<%=data[0].blogs_post_date%>"
                                                               data-date-format="yyyy/mm/dd"
                                                               placeholder="yyyy/mm/dd"
                                                               id="datepicker-autoclose" required>
                                                        <div class="input-group-append">
                                                            <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                                        </div>
                                                    </div><!-- input-group -->
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                        <!--Blog Category-->
                                    <tr>
                                        <td>Blog Category</td>
                                        <td>
                                            <div class="form-group">
                                                <select name ="blogs_category_id" id="blogs_category_id" class="select2 form-control select2-multiple" multiple="multiple" multiple data-placeholder="Choose ..." required>
                                                    <% var arr=[];
                                                    data[0].Blogs_categories.forEach((blogs_category)=> {
                                                        arr.push(blogs_category.blogs_category_name);
                                                    }) %>
                                                    <% data4.forEach((blogs_category_result)=> {
                                                         if(arr.includes(blogs_category_result.blogs_category_name)) { %>
                                                            <option selected value="<%= blogs_category_result.blogs_category_id %>">
                                                                    <%= blogs_category_result.blogs_category_name %></option>
                                                        <% }else{ %>
                                                            <option value="<%= blogs_category_result.blogs_category_id %>">
                                                                <%= blogs_category_result.blogs_category_name %></option>
                                                        <% } %>
                                                    <% }) %>
                                                    <span class="input-group-text"></span>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                        <!--dropzone-->
                                    <tr>
                                    <td>Blogs Image</td>
                                    <td>
                                        <div>
                                            <img style="width:50%" id="blah" src="<%=data[0].blogs_image%>" alt="your image" />
                                        </div>
                                        <br>
                                        <div>
                                            <input name="blogs_image" id = "blogs_image" type="file" accept ="image/*">
                                        </div>
                                    </td>
                                    <!-- <div class="row">
                                        <div class="col-12">
                                            <label>Blog Image</label>
                                            <div class="card m-b-20">
                                                <div class="card-body"><div class="m-b-30">
                                                    <div action="/add-blogs" class="dropzone">
                                                            <div class="fallback">
                                                                <input name="blogs_image" id = "blogs_image" type="file" accept ="image/*">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </tr>
                                </tbody>
                            </table>
                            <div style="text-align: center">
                                <button type="submit"
                                        class="btn btn-success editable-submit btn-sm waves-effect waves-light">
                                    <i class="mdi mdi-check"></i>
                                </button>
                                <a href="/blogs-list"
                                   class="btn btn-danger editable-cancel btn-sm waves-effect waves-light">
                                    <i class="mdi mdi-close"></i>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

    </div> <!-- container-fluid -->

</div> <!-- content -->

<%- contentFor('FooterJs') %>
<!-- XEditable Plugin -->
<script>

    //put method
    const $form = $('#edit-blogs')
    $form.on('submit', submitHandler)
    var blogs_id = $form.attr('data-id');
    
    function submitHandler (e) {
        let formData = new FormData();
        formData.append('blogs_image',$('#blogs_image')[0].files[0]);
        $form.serializeArray().forEach((js)=>{
            formData.append(js.name, js.value);
        });
        console.log('formData-', formData);
        e.preventDefault();
        $.ajax({
            url: '/edit-blogs'+ blogs_id,
            type:'PUT',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                alert('Blogs edited');
                window.location.href='/blogs-list';
            },
            error: function (error) {
                alert(error);
                console.log(error);
            }
        }).done(response => {
            console.log(response)
        })
    }

    // Image preview
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#blogs_image").change(function() {
        console.log("The file is",$('#blogs_image'));
        console.log("Image Uploaded");
        readURL(this);
    });

    //texteare
    $(document).ready(function () {
        if($("#elm1").length > 0){
            tinymce.init({
                selector: "textarea#elm1",
                theme: "modern",
                height:300,
                plugins: [
                    "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                    "save table contextmenu directionality emoticons template paste textcolor"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
                style_formats: [
                    {title: 'Bold text', inline: 'b'},
                    {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                    {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                    {title: 'Example 1', inline: 'span', classes: 'example1'},
                    {title: 'Example 2', inline: 'span', classes: 'example2'},
                    {title: 'Table styles'},
                    {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
                ]
            });
        }
    });


    // date value
    $('.datepicker-autoclose').datepicker({
        timepicker:false,
        format:'yyyy/mm/dd'
    }).on("changeDate", function(e) {
            $('#datepicker-autoclose').attr('value', e.format());
    });



</script>

<script src="public/plugins/tinymce/tinymce.min.js"></script>


<script src="public/plugins/parsleyjs/parsley.min.js"></script>
<!--advanced form-->
<script src="public/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="public/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="public/plugins/select2/js/select2.min.js"></script>
<script src="public/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="public/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
<script src="public/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
<!--dropzone-->
<script src="public/plugins/dropzone/dist/dropzone.js"></script>
<!-- Plugins Init js -->
<script src="public/assets/pages/form-advanced.js"></script>
<script src="public/plugins/moment/moment.js"></script>

