

   <%- contentFor('HeaderCss') %>
   <!-- perticular page css -->
    <!-- X-editable css -->
    <link type="text/css" href="public/plugins/x-editable/css/bootstrap-editable.css" rel="stylesheet">
    <link href="public/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="public/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="public/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="public/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="public/plugins/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css">
    
     
   
   <%- contentFor('body') %>
   <div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Edit City (<%= data[0].city_name %>)</h4>
                    </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-12">
                <div class="card m-b-20">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">Edit City</h4>
                        <br>
                        <form class="" id="edit-city" data-id="<%= data[0].city_id %>">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="width: 25%;">Attributes</th>
                                <th>Edit values</th>
                            </tr>
                            </thead>
                            <tbody>
                                
                                <!-- country -->
                                <tr>
                                    <td>
                                        country
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="control-label">Country</label>
                                            <select id="country" data7="<%= data4[0].state_id%>" name="country_id" class="form-control select2" required>
                                                <% data3.forEach((country)=> { %>
                                                    <% if(country.country_name===data5[0].country_name) { %>
                                                        <option selected value=<%= country.country_id %> > <%= country.country_name %> </option>
                                                    <% } else{ %>
                                                        <option value=<%= country.country_id %> > <%= country.country_name %> </option>
                                                    <% } %>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <!-- state -->
                                <tr>
                                    <td>
                                        State
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <label class="control-label">State</label>
                                            <select id="state" name="state_id" class="form-control select2" required>
            <!--                                    Injecting options using AJAX-->
                                            </select>
                                        </div>
                                    </td>
                                </tr>


                                <!-- City -->
                                <tr>
                                    <td>City </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" name="city_name" class="form-control" required placeholder="city_name" value="<%= data[0].city_name%>"/>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div style="text-align: center" class="form-group">
                            <button type="submit"
                                    class="btn btn-success editable-submit btn-sm waves-effect waves-light">
                                <i class="mdi mdi-check"></i>
                            </button>
                            <a href="/city"
                                    class="btn btn-danger editable-cancel btn-sm waves-effect waves-light">
                                <i class="mdi mdi-close"></i>
                            </a>
                        </div>
                        </form>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->        

    </div> <!-- container-fluid -->

</div> <!-- content -->



<%- contentFor('FooterJs') %>
 <!-- XEditable Plugin -->
 <script>
    $('#country').change(function(){
        console.log("Country id: ", $('#country').val());
        var $state = $('#state');
        $.ajax({
            type: 'POST',
            url: '/fetch-state',
            data: { country_id: $('#country').val() },
            success: function(data){
                console.log(data);
                var states;
                $state.children().remove().end()
                $state.append('<option disabled selected hidden>Select</option>')
                data.data.forEach((states)=>{
                    console.log('<option value="'+ states.state_id + '"> ' + states.state_name + '</option>')
                    $state.append('<option value="'+ states.state_id + '"> ' + states.state_name + '</option>')
                })
            },
            error: function(){
                alert('No data');
            }
        });
    });
    </script> 
   
   
   <script>
       const $form = $('#edit-city')
       $form.on('submit', submitHandler)
       var city_id = $form.attr('data-id');

       function submitHandler (e) {
           e.preventDefault()
           $.ajax({
               url: '/edit-city'+ city_id,
               type:'PUT',
               data: $form.serialize(),
               success: function (response) {
                   alert('city edited');
                   window.location.href='/city';
               },
               error: function (error) {
                   console.log(error);
               }
           }).done(response => {
               console.log(response)
           })
       }
   </script>
   <script>
    //dynamic fetching of states ONCHANGE
 $('#country').change(function(){
     console.log("Country id: ", $('#country').val());
     var $state = $('#state');
     $.ajax({
         type: 'POST',
         url: '/fetch-state',
         data: { country_id: $('#country').val() },
         success: function(data){
             console.log(data);
             var states;
             $state.children().remove().end()
             $state.append('<option disabled selected hidden>Select</option>')
             data.data.forEach((states)=>{
                 console.log('<option value="'+ states.state_id + '"> ' + states.state_name + '</option>')
                 $state.append('<option value="'+ states.state_id + '"> ' + states.state_name + '</option>')
             })
         },
         error: function(){
             alert('No data');
         }
     });
 });
 // default selected value for state OnLOAD
 $('#country').ready(function(){
     console.log("Country id: ", $('#country').val());
     var $state = $('#state');
     const data7 = $('#country').attr('data7');
     console.log('data7', data7);
     $.ajax({
         type: 'POST',
         url: '/fetch-state',
         data: { country_id: $('#country').val() },
         success: function(data){
             console.log(data);
             var states;
             $state.children().remove().end()
             $state.append('<option disabled selected hidden>Select</option>')
             data.data.forEach((states)=>{
                 console.log('<option value="'+ states.state_id + '"> ' + states.state_name + '</option>')
                 if(states.state_id==data7){
                 $state.append('<option selected value="'+ states.state_id + '"> ' + states.state_name + '</option>')
                 }else{
                 $state.append('<option value="'+ states.state_id + '"> ' + states.state_name + '</option>')
                 }
             })
         },
         error: function(){
             alert('No data');
         }
     });
 });
</script>
 <script src="public/plugins/moment/moment.js"></script>
 <script src="public/plugins/moment/moment.js"></script>
 <!--advanced form-->
 <script src="public/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
 <script src="public/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
 <script src="public/plugins/select2/js/select2.min.js"></script>
 <script src="public/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
 <script src="public/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
 <script src="public/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
 <!--dropzone-->
 <script src="public/plugins/dropzone/dist/dropzone.js"></script>
 <!-- Plugins Init js -->
 <script src="public/assets/pages/form-advanced.js"></script>
