<%- contentFor('HeaderCss') %>
<link href="public/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
<link href="public/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="public/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="public/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
<link href="public/plugins/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css">


<%- contentFor('body') %>
<h1>Add User</h1>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card m-b-20">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">Add New User </h4>
                        <hr>
                        <!--                    <p class="text-muted m-b-30">Parsley is a javascript form validation library. It helps you provide your users with feedback on their form submission before sending it to your server.</p>-->
                        <form class="" action="/add-user" method="post">

                            <!--First Name-->
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" name="first_name" class="form-control" required placeholder="First Name" />
                            </div>
                            <!--Last Name-->
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" name="last_name" class="form-control" required placeholder="Last Name" />
                            </div>
                            <!--User Name-->
                            <div class="form-group">
                                <label>User Name</label>
                                <input type="text" name="username" class="form-control" required placeholder="User Name" />
                            </div>
<!--                            email-->
                            <div class="form-group">
                                <label>E-Mail</label>
                                <div>
                                    <input type="email" name="email" class="form-control" required parsley-type="email" placeholder="Enter a valid e-mail">
                                </div>
                            </div>

                            <!--Password-->
                            <div class="form-group">
                                <label>Enter Password</label>
                                <div>
                                    <input type="password" name="password" id="pass2" class="form-control" required placeholder="Password">
                                </div>
                                <div class="m-t-10">
                                    <input type="password" class="form-control" required data-parsley-equalto="#pass2" placeholder="Re-Type Password">
                                </div>
                            </div>
<!--                            DOB-->
                            <div class="form-group">
                                <label>Date Of Birth</label>
                                <div>
                                    <div class="input-group">
                                        <input type="text" name="dob" class="form-control" placeholder="mm/dd/yyyy" id="datepicker-autoclose" required>
                                        <div class="input-group-append" >
                                            <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                        </div>
                                    </div><!-- input-group -->
                                </div>
                            </div>

                            <!-- fitness group Single Select-->
                            <div class="form-group">
                                <label class="control-label">Fitness Group</label>
                                <select name="fitness_group_id" class="form-control select2" required>
                                    <option disabled selected hidden>Select</option>
                                    <% data1.forEach((fitness_group)=> { %>
                                    <option value=<%= fitness_group.fitness_group_id %> </option> <%= fitness_group.fitness_group_name %> </option>
                                    <% }) %>
                                </select>
                            </div>

                            <!-- Gender Single Select-->
                            <div class="form-group">
                                <label class="control-label">Gender</label>
                                <select name="gender" class="form-control select2" data-placeholder="Choose ..." required>
                                    <option disabled selected hidden>Select</option>
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                </select>
                            </div>
<!--                            number-->
                            <div class="form-group">
                                <label>Contact Number</label>
                                <div>
                                    <input name="mobile" data-parsley-type="number" class="form-control" required data-parsley-length="[10, 10]" placeholder="Phone Number of 10 chars length">
                                </div>
                            </div>
                            
<!--                            Country-->
                            <div class="form-group">
                                <label class="control-label">Country</label>
                                <select id="country" name="country_id" class="form-control select2" required>
                                    <option disabled selected hidden>Select</option>
                                    <% data2.forEach((country)=> { %>
                                    <option value=<%= country.country_id %> > <%= country.country_name %> </option>
                                    <% }) %>
                                </select>
                            </div>

<!--                            State-->
                            <div class="form-group">
                                <label class="control-label">State</label>
                                <select id="state" name="state_id" class="form-control select2" required>
                                    <option disabled selected hidden>Select</option>
<!--                                    Injecting options using AJAX-->
                                </select>
                            </div>

                            <!--City Name-->
                            <div class="form-group">
                                <label class="control-label">City</label>
                                <select id="city" name="city_id" class="form-control select2" required>
                                    <option disabled selected hidden>Select</option>
<!--                                    Injecting options using AJAX-->
                                </select>
                            </div>
                            

                            <!-- pincode number-->
                            <div class="form-group">
                                <label>Pin Code</label>
                                <div>
                                    <input name="pincode" data-parsley-type="number" class="form-control" required data-parsley-length="[6, 6]" placeholder="Pin Code">
                                </div>
                            </div>
                            <!--  Company Select-->
                            <div class="form-group">
                                <label class="control-label">Company Select</label>
                                <select name="company_id" class="form-control select2" required>
                                    <option disabled selected hidden>Select</option>
                                    <% data5.forEach((company)=> { %>
                                    <option value=<%= company.company_id %> </option> <%= company.company_name %> </option>
                                    <% }) %>
                                </select>
                            </div>

                            <!--  User role Select-->
                            <div class="form-group">
                                <label class="control-label">User Role Select</label>
                                <select name="user_role_id" class="form-control select2" required>
                                    <option disabled selected hidden>Select</option>
                                    <% data6.forEach((user_role)=> { %>
                                    <option value=<%= user_role.user_role_id %> </option> <%= user_role.user_role_name %> </option>
                                    <% }) %>
                                </select>
                            </div>
                            <!--                            submit button-->
                            <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                                    <a href="/user-list"><input type="button" value="Cancel" class="btn btn-secondary waves-effect m-l-5"></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
    </div>
</div>
<%- contentFor('FooterJs') %>
<script src="public/plugins/parsleyjs/parsley.min.js"></script>
<!--advanced form-->
<script src="public/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="public/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="public/plugins/select2/js/select2.min.js"></script>
<script src="public/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="public/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
<script src="public/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
<!--dropzone-->
<script src="public/plugins/dropzone/dist/dropzone.js"></script>
<!-- Plugins Init js -->
<script src="public/assets/pages/form-advanced.js"></script>
<script>
    $('#country').change(function(){
        console.log("Country id: ", $('#country').val());
        var $state = $('#state');
        $.ajax({
            type: 'POST',
            url: '/fetch-state',
            data: { country_id: $('#country').val() },
            success: function(data){
                console.log(data);
                var states;
                $state.children().remove().end()
                $state.append('<option disabled selected hidden>Select</option>')
                data.data.forEach((states)=>{
                    console.log('<option value="'+ states.state_id + '"> ' + states.state_name + '</option>')
                    $state.append('<option value="'+ states.state_id + '"> ' + states.state_name + '</option>')
                })
            },
            error: function(){
                alert('No data');
            }
        });
    });


    $('#state').change(function(){
        console.log("state id: ", $('#state').val());
        var $city = $('#city');
        $.ajax({
            type: 'POST',
            url: '/fetch-city',
            data: { state_id: $('#state').val() },
            success: function(data){
                console.log(data);
                var cities;
                $city.children().remove().end()
                $city.append('<option disabled selected hidden>Select</option>')
                data.data.forEach((cities)=>{
                    console.log('<option value="'+ cities.city_id + '"> ' + cities.city_name + '</option>')
                    $city.append('<option value="'+ cities.city_id + '"> ' + cities.city_name + '</option>')
                })
            },
            error: function(){
                alert('No data');
            }
        });
    });

    $(document).ready(function() {
        $('form').parsley();
    });
</script>
