<%- contentFor('HeaderCss') %>
<link href="public/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
<link href="public/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="public/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="public/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
<link href="public/plugins/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css">


<%- contentFor('body') %>
<h1>Add User</h1>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card m-b-20">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">Add New Event </h4>
                        <hr>
                        <form class="" action="/add-event" method="post">

                            <!--Event Title-->
                            <div class="form-group">
                                <label>Event Title</label>
                                <input type="text" name="event_title" class="form-control" required placeholder="Event Title" />
                            </div>

                            <!--Event Description-->
                            <div class="form-group">
                                <label>Event Description</label>
                                <div class="row">
                                    <div class="col-12" style="height:450px;">
                                        <div class="card m-b-20" >
                                            <textarea id="elm1" name="event_description"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Post Date-->
                            <div class="form-group">
                                <label>Event Date</label>
                                <div>
                                    <div class="input-group">
                                        <input type="text" name ="event_date" class="form-control" placeholder="mm/dd/yyyy" id="datepicker-autoclose" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- CITY Select-->
                            <div class="form-group">
                                <label class="control-label">Location</label>
                                <select name="city_id" class="form-control select2" required>
                                    <option disabled selected hidden>Select</option>
                                    <% data2.forEach((city)=> { %>
                                    <option value=<%= city.city_id %> </option> <%= city.city_name %> </option>
                                    <% }) %>
                                </select>
                            </div>

                            <!-- event_category_id select-->
                            <div class="form-group">
                                <label class="control-label">Event Category</label>
                                <select name ="event_category_id" class="form-control select2" >
                                    <option disabled selected hidden>Select</option>
                                    <% data.forEach((event_category)=> { %>
                                        <option value=<%= event_category.event_category_id %> </option> <%= event_category.event_category_name %> </option>
                                        <% }) %>
                                </select>
                            </div>
                            <hr>

                            <!-- submit button-->
                            <div class="form-group">
                                <div>
                                    <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
                                    <a href="/event-list"><input type="button" value="Cancel" class="btn btn-secondary waves-effect m-l-5"></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
    </div>
</div>
<%- contentFor('FooterJs') %>
<script src="public/plugins/tinymce/tinymce.min.js"></script>

<script>
    $(document).ready(function () {
        if($("#elm1").length > 0){
            tinymce.init({
                selector: "textarea#elm1",
                theme: "modern",
                height:300,
                plugins: [
                    "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                    "save table contextmenu directionality emoticons template paste textcolor"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
                style_formats: [
                    {title: 'Bold text', inline: 'b'},
                    {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                    {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                    {title: 'Example 1', inline: 'span', classes: 'example1'},
                    {title: 'Example 2', inline: 'span', classes: 'example2'},
                    {title: 'Table styles'},
                    {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
                ]
            });
        }
    });
</script>

<script src="public/plugins/parsleyjs/parsley.min.js"></script>
<!--advanced form-->
<script src="public/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="public/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="public/plugins/select2/js/select2.min.js"></script>
<script src="public/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="public/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
<script src="public/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
<!--dropzone-->
<script src="public/plugins/dropzone/dist/dropzone.js"></script>
<!-- Plugins Init js -->
<script src="public/assets/pages/form-advanced.js"></script>
<script>
    $(document).ready(function() {
        $('form').parsley();
    });
</script>
