<%- contentFor('HeaderCss') %>

<link type="text/css" href="public/plugins/x-editable/css/bootstrap-editable.css" rel="stylesheet">
<link href="public/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
<link href="public/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="public/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="public/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
<link href="public/plugins/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css">
   
<%- contentFor('body') %>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <h4 class="page-title">Edit Event (<%= data[0].event_title %>)</h4>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-12">
                    <div class="card m-b-20">
                        <div class="card-body">
                            <h4 class="mt-0 header-title">Edit Event</h4>
                            <br>
                            <form class="" id="edit-event" data-id="<%= data[0].event_id %>">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width: 25%;">Attributes</th>
                                            <th>Edit values</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Event title</td>
                                            <td>
                                                <div class="form-group">
                                                    <input type="text" name="event_title" class="form-control" required placeholder="Event title" value="<%= data[0].event_title%>"/>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- Event description-->
                                        <tr>
                                            <td>Event description</td>
                                            <td>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-12" style="height:450px;">
                                                            <div class="card m-b-20" >
                                                                <textarea id="elm1" name="event_description"
                                                                          new-content="<%= data[0].event_description%>" required>
                                                                </textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <!--Event Date-->
                                        <tr>
                                            <td>Event Date</td>
                                            <td>
                                                <div class="form-group">
                                                    <div>
                                                        <div class="input-group">
                                                            <input type="text" name ="event_date"
                                                                   class="form-control datepicker-autoclose"
                                                                   value="<%=data[0].event_date%>"
                                                                   data-date-format="yyyy/mm/dd"
                                                                   placeholder="yyyy/mm/dd"
                                                                   id="datepicker-autoclose" required>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Event Location</td>
                                            <td>
                                                <div class="form-group">
                                                    <select name="city_id" class="form-control select2" required>
                                                        <% data2.forEach((city)=> { %>
                                                        <option <% if(city.city_name===data4[0].city_name){ %>selected<% } %> value=<%= city.city_id %> </option> <%= city.city_name %> </option>
                                                        <% }) %>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- Event Category-->
                                        <tr>
                                            <td>Event Category</td>
                                            <td>
                                                <div class="form-group">
                                                    <select name ="event_category_id" class="form-control select2" >
                                                        <% data3.forEach((event_category)=> { %>
                                                            <option <% if(event_category.event_category_name===data5[0].event_category_name){ %>selected<% } %> value=<%= event_category.event_category_id %> </option> <%= event_category.event_category_name %> </option>
                                                        <% }) %>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="text-align: center" class="form-group">
                                    <button type="submit"
                                            class="btn btn-success editable-submit btn-sm waves-effect waves-light">
                                        <i class="mdi mdi-check"></i>
                                    </button>
                                    <a href="/event-list"
                                            class="btn btn-danger editable-cancel btn-sm waves-effect waves-light">
                                        <i class="mdi mdi-close"></i>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->
        </div> <!-- container-fluid -->
    </div> <!-- content -->
                
<%- contentFor('FooterJs') %>

   <script>
       const $form = $('#edit-event')
       $form.on('submit', submitHandler)
       var event_id = $form.attr('data-id');
       function submitHandler (e) {
           e.preventDefault()
           $.ajax({
               url: '/edit-event'+ event_id,
               type:'PUT',
               data: $form.serialize(),
               success: function (response) {
                   alert('Event edited');
                   window.location.href='/event-list';
               },
               error: function (error) {
                   console.log(error);
               }
           }).done(response => {
               console.log(response)
           })
       }
</script>
<script src="public/plugins/tinymce/tinymce.min.js"></script>
<script>
       //textarea
       $(document).ready(function () {
           var new_content = $("#elm1").attr('new-content');
           console.log('new_content', new_content);
           if($("#elm1").length > 0){
               tinymce.init({
                   selector: "textarea#elm1",
                   theme: "modern",
                   height:300,
                   plugins: [
                       "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                       "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                       "save table contextmenu directionality emoticons template paste textcolor"
                   ],
                   toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
                   style_formats: [
                       {title: 'Bold text', inline: 'b'},
                       {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                       {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                       {title: 'Example 1', inline: 'span', classes: 'example1'},
                       {title: 'Example 2', inline: 'span', classes: 'example2'},
                       {title: 'Table styles'},
                       {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
                   ]
                   // init_instance_callback : function(editor) {
                   //     editor.setContent(new_content);
                   // }
               });
           }
       });

       // date value
       $('.datepicker-autoclose').datepicker({
           timepicker:false,
           format:'yyyy/mm/dd'
       }).on("changeDate", function(e) {
           $('#datepicker-autoclose').attr('value', e.format());
       });
</script>
<script src="public/plugins/moment/moment.js"></script>
<script src="public/plugins/moment/moment.js"></script>
<!--advanced form-->
<script src="public/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script src="public/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="public/plugins/select2/js/select2.min.js"></script>
<script src="public/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="public/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
<script src="public/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
<!--dropzone-->
<script src="public/plugins/dropzone/dist/dropzone.js"></script>
<!-- Plugins Init js -->
<script src="public/assets/pages/form-advanced.js"></script>
